# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
APDescription.txt
MTPs-Main-Container.txt
.gradle
build